PORT=

# PARA RODAR SEM DOCKER
DATABASE_URL=<url-do-seu-banco-na-cloud>


# PARA RODAR COM DOCKER
DATABASE_URL="postgresql://postgres:postgres@db:5432/meubanco?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meubanco
JWT_SECRET=sua-chave-secreta-aqui# Porta da aplicação
PORT=3030

# =========================
# 🔐 Segurança
# =========================
JWT_SECRET=your_secret_key

# =========================
# 🐳 COM DOCKER
# =========================
DATABASE_URL="postgresql://postgres:postgres@db:5432/meubanco?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meubanco

# =========================
# 💻 SEM DOCKER (LOCAL)
# =========================
# DATABASE_URL="postgresql://user:password@localhost:5432/meubanco?schema=public"

